@{
    ViewBag.Title = "Index";
}

<!--<h2>Index</h2>-->
<p>Welcome to the Turner Broadcasting Movie Title Database</p>

@using (Html.BeginForm("TitleSearch", "Home"))
{
<p>
<label for="titleSearch" style="font-weight: bold;">Please enter title search:</label>@Html.TextBox("titleSearch")
<input type="submit" value="Search" />
</p>
}


