@{
    ViewBag.Title = "Index";
}


<h3>Welcome to the Turner Broadcasting Movie Title Database</h3>

@using (Html.BeginForm("TitleSearch", "Home"))
{
<p>
<label for="titleSearch">Please enter title search:</label>@Html.TextBox("titleSearch")
<input type="submit" value="Search" />
</p>
}


