@model IEnumerable<turnerdevchallenge.Models.Title>

@{
    ViewBag.Title = "Title Search Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    
</script>

<h2>Title Search Results</h2>


<table id="titleSearch">
<thead>
    <tr>
        <th>
            Title Name
        </th>
        <th>
            Release Year
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TitleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseYear)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.TitleId })
        </td>
    </tr>
}
</tbody>
</table>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#titleSearch tbody tr:odd").css("background-color", "#E6E6FA");
            //$('#titleSearch').find('tr:odd').css({ 'background-color': '#ddd' });
        });

    </script>
}